{{template templates.head mode}}
<html>
<!-- <a href="{{image "igem.png" "directlink" mode}}" > direct image linking </a>

<img src="{{image "igem_500w.png" "directlink" mode}}" />

{{#markdownHere "

Inline **markdown**!

{{capitals teamName}}

More working md?

* yes
* no

"}}{{/markdownHere}} -->

{{navigation mode "index"}}

<div id="homepage" class="content">
<h1><span>iGEM UofT 2015</span></h1>
<h2><span>Cells, Computers, and Society</span></h1>

<!-- {{image "Alberta water homepage.jpg" sdsd mode}} -->

</div>
